.arrow{
  color: #f3c85d;
}

.title {
  // font-family: "Caveat Brush", serif;
  font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .1;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
  margin-right: 5px;
}

.title:hover {
    font-family: "Recursive", serif;
   font-variation-settings: "CASL" .6,"MONO" .1;
  font-size: 1.125rem;
  font-weight: 800;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
  transform: scale(1.05); 

}

.date{
  font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .5;
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
}

.description {
    font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .3;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  color: #696970;
  line-height: 1.5em;
  white-space: normal;
    
    word-wrap: break-word;  
    overflow-wrap: break-word;
}


@media screen and (max-width: 480px) {
  .title {
      font-size: 1rem;
  }
  .date {
    font-size: 1rem;
  }
  .description{
    font-size: 0.8rem;
  }
}