.title {
  // font-family: "Caveat Brush", serif;
  font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .5;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
}

.title:hover {
    font-family: "Recursive", serif;
   font-variation-settings: "CASL" 1,"MONO" .5;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
  transform: scale(1.1); 
}

.description {
    font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .5;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
}

