.article {
  display: flex;
  align-items: center;
  gap: 1px;
  // font-family: "Caveat Brush", serif;
  font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .5;
  font-size: 1.125rem;
  font-weight: 550;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
}


.article:hover{
  font-family: "Recursive", serif;
   font-variation-settings: "CASL" 1,"MONO" .5;
  font-size: 1.125rem;
  font-weight: 800;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
  transform: scale(1.1); 
}

.articleActive {
   font-family: "Recursive", serif;
   font-variation-settings: "CASL" 1,"MONO" .5;
  font-size: 1.125rem;
  font-weight: 800;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
transform: scale(1.1); 
}

@media screen and (max-width: 480px) {
  .article {
      font-size: 0.9rem;
      gap: 0px;
  }
  .articleActive {
     font-size: 0.9rem;
  }
}