
.header {
  font-family: "Caveat Brush", serif;
  font-weight: 400;
  font-style: normal;
  color: #2733f5;
}

// .article {
//   font-family: "Caveat Brush", serif;
//   font-size: 20;
//   font-weight: 400;
//   font-style: normal;
//   color: #2733f5;
// }

.article {
  // font-family: "Caveat Brush", serif;
  font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .5;
  font-size: 18px;
  font-weight: 550;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
}

.articleHover {
  // font-family: "Caveat Brush", serif;
  font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .5;
  font-size: 18px;
  font-weight: 550;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
}

.articleHover:hover {
  font-family: "Recursive", serif;
   font-variation-settings: "CASL" 1,"MONO" .5;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
  transform: scale(1.1); 
}