.handWritten {
  font-family: "Caveat Brush", serif;
  font-weight: 800;
  font-size: 40px;
  font-style: normal;
   color: #2733f5;
}

.label {
  font-family: "Caveat Brush", serif;
  font-weight: 800;
  font-size: 30px;
  font-style: normal;
   color: #2733f5;
}

.editor {
background-color: white;
font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box; 
  height: 500px;
  overflow-y: scroll;
}

.editor:focus {
    border: 1px solid #2733f5 ;
}

.button{
  font-size: 26px;
  font-family: "Caveat Brush", serif;
  border: none;
  color: #2733f5;
}

.button:hover{
  transform: scale(1.1);  
}