
// .main{
//   height: calc(100vh - 61px);
// }

.header {
  font-family: "Caveat Brush", serif;
  font-weight: 400;
  font-style: normal;
  color: #2733f5;
}

.article {
  // font-family: "Caveat Brush", serif;
  font-family: "Recursive", serif;
  //  font-family: "Noto Sans Mono", serif;
  font-variation-settings: "CASL" 0,"MONO" .8;
  font-size: 18px;
  font-weight: 550;
  font-style: normal;
  color: #2733f5;
  line-height: 1.5em;
}


.subHeader {
  font-family: "Caveat Brush", serif;
  font-weight: 600;
  font-style: normal;
  color: #f8d378;
  font-size: 72px;
  line-height: 1em; 
}