.flex-container {
  display: flex;
  flex-direction: row;
}

.handWritten {
  font-family: "Caveat Brush", serif;
  font-weight: 800;
  font-size: 30px;
  font-style: normal;
}

.sidebar {
  font-family: "Caveat Brush", serif;
  color: #2733f5;
  font-weight: 800;
  font-size: 30px;
  font-style: normal;
}