.flex-container {
  display: flex;
  flex-direction: row;
}

.handWritten {
  font-family: "Caveat Brush", serif;
  font-weight: 800;
  font-size: 1.875rem;
  font-style: normal;
}

.sidebar {
  font-family: "Caveat Brush", serif;
  color: #2733f5;
  font-weight: 800;
  font-size: 1.875rem;
  font-style: normal;
}

@media screen and (max-width:480px){
.handWritten {
  font-family: "Caveat Brush", serif;
  font-weight: 800;
  font-size: 1.475rem;
  font-style: normal;
   margin-bottom: 20px;
}

}